{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.team1 }}-{{ question.team2 }}</a>
        {% for choice in question.choice_set.all %}
            {{ choice.score1 }}-{{ choice.score2 }}
        {% endfor %}
        {{ question.score1 }}-{{ question.score2 }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}