{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p>
    <p>Total bet score: {{ number }}</p>

    <p>All bets are on game results after 90 minutes. You can't bet on a game that has already started.</p>

    {% if latest_question_list %}
        <table style="width:100%">
            <th>Game</th>
            <th>Game score</th>
            <th>Playoff</th>
            <th>Started?</th>
            <th>Bet</th>
            <th>Bet score</th>
        {% for question in latest_question_list %}
            <tr>
            <td><a href="{% url 'polls:detail' question.id %}">{{ question.team1 }}-{{ question.team2 }}</a></td>
            <td>{{ question.score1 }}-{{ question.score2 }}</td>
            <td>{{ question.pub_date }}</td>
            <td>{{ question.has_started }}</td>
            {% for choice in question.choice_set.all %}
                {% if user.id == choice.user_id %}
                    <td>{{ choice.score1 }}-{{ choice.score2 }}</td>
                    <td>{{ choice.get_score }}</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}

    {% else %}
        <p>No polls are available.</p>
    {% endif %}

{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a> |
    <a href="{% url 'signup' %}">signup</a>
{% endif %}
